<div class="container">
    <div class="top">
        <h1>Course Kit</h1>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <img src="/assets/header/magnifier.png" alt="">
        </div>
        <div class="buttons">
            <button id="list-coursekit">List Course Kit</button>
            <button id="export">
                <p>Export</p>
                <img src="/assets/download-folder.svg" alt="">
            </button>
        </div>
    </div>
    <div class="form-container">
        <div class="table">
            <div class="course-name">
                <p>Course Name</p>
                <app-dropdown></app-dropdown>
            </div>
            <div class="document-link">
                <p>Document Link</p>
                <input type="text" placeholder="www">
            </div>
            <div class="short-description">
                <p>Short Description</p>
                <input type="text">
            </div>
            <div class="long-description">
                <p>Long Description</p>
                <input type="text">
            </div>
            <div class="video">
                <p>Video</p>
                <div class="box" appDnd (fileDropped)="onFileDropped($event)">
                    <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target)">
                    <h3>Drag & Drop Image, or <label for="fileDropRef" style="background: none; color: #D64E49;">Browse</label></h3>
                    <p>Max 6 MB each, 12 MB for Videos</p>
                </div>
            </div>
        </div>
        <div class="bottom-buttons">
            <button id="back">Back</button>
            <button id="submit">Submit</button>
        </div>
    </div>
    <div class="footer">
        <p style="font-weight: bold;">&copy;  2023 CAAS Training Institute. All Rights Reserved</p>
        <p>Terms of Service Private Policy</p>
    </div>
</div>
