.container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    min-width: 1440px;
    min-height: 951px;
    display: block;
    z-index: -10;
    align-items: center;
    font-family: 'Nunito';
}

.title {
    margin-top: 50px;
    margin-left: 350px;
}

.title h1 {
    display: block;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 500;
    position: relative;
    left: 10px;
}

.table-title {
   position: relative;
   top: -80px;
}

.table-title h1 {
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 500;
  
}

.form-container {
    width: 1069px;
    height: 649px;
    flex-shrink: 0;
    border-radius: 38px;
    border: 1px solid #7E7E7E;
    background: #FFF;
    margin-left: 350px;
    margin-top: 150px;
}

.marker {
    display: inline-block;
    margin: 5px;
}

.marker .tag {
    position: relative;
    left: 10px;
}

.topper .second {
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 0.3px solid #D64E49;
    background: #D64E49;
    margin-left: 30px;
    left: 531px;
    top: -104px;
}

.col-2 {
    position: relative;
    left: 656px;
    top: -127px;
}

.topper .first {
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 0.3px solid #7E7E7E;
    background: #FFF;
    margin-left: 30px;
}

.topper {
    position: relative;
    left: -10px;
}

.topper p {
    font-size: 12px;
}

.topper .hr {
    width: 103px;
    height: 40px;
    flex-shrink: 0;
    border-top: solid 2px;
    border-color: rgba(214, 78, 73, 1);
    display: inline-block;
    margin-left: 30px;
}

.topper .first p{
    margin-top: 2px;
    margin-left: 8px;
}

.topper .second p {
    color: #FFF;
    font-size: 22px;
}

.dropdown{
    margin-left: 20px;
    margin-top: -30px;
    text-align: left;
    padding-left: 20px;
    width: 160px;
    height: 38px;
    border: 0.3px solid #000000;
    border-radius: 6px;
    background-color: #ffffff;
    background: url("/assets/down arrow.svg")90% / 10% no-repeat white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: Open sans;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

input{
    margin-left: 20px;
    margin-top: -20px;
    padding-top: 0px;
    padding-left: 16px;
    width: 176px;
    height: 38px;
    border: 0.3px solid #000000;
    border-radius: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: Open Sans;
    font-size: 12px;
    font-weight: 500;
}

.topper .first p, .topper .second p {
    margin-top: 2px;
    margin-left: 8px;
    font-size: 22px;
}

.table-title {
    margin-left: 80px;
    margin-top: 100px;
}

.table-title h1, .table-title button {
    display: inline;
}

.table-title button {
    margin-left: 420px;
}

#add p, #add img {
    display: inline-block;
}

#add p {
    position: relative;
    top: -12px;
    font-size: 18px;
}

#add img {
    position: relative;
    left: -5px;
}

.table {
    width: 1000px;
    height: 222px;
    flex-shrink: 0;
    border-radius: 17px;
    border: 1px solid rgba(126, 126, 126, 0.72);
    background: #FFF; 
    position: relative;
    top: -50px; 
    left: 50px; 
    overflow-y: scroll;
    overflow-x: hidden;
}

.table .header {
    padding: 15px 0px;
    display: grid;
    grid-template-columns: 220px 240px 250px 200px;
    width: 1000px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 17px 17px 0px 0px;
    background: #EBEBEB;
    text-align: center;
}

.table .header p {
    display: inline;
    margin-left: 100px;
    width: fit-content;
    flex-direction: column;
    flex-shrink: 0;
    color: #333232;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    position: relative; 
    top: -8px;   
}

.item {
    width: 1050.039px;
    height: 60.328px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.item input{
    width: 200px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 0.3px solid #000;
    background: #FFF;
}

.item div {
    margin-top: 30px;
    margin-left: 20px;
}

.instructor {
    padding-left: 5px;
    width: 150px;
}

.delete {
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 0.3px solid #7E7E7E;
    background: #E8E8E8;   
    position: relative;
    left: -10px;     
}

.delete img {
    margin: 7px;
}

input {
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 5px;
    border: 0.3px solid #7A7A7A;
    width: fit-content;
    font-family: 'Nunito';
    font-size: 17px;
}

.buttons {
    width: 800px;
    position: relative;
    top: -60px;
    left: 100px;
}

button {
    display: flex;
    width: 114px;
    height: 37px;
    padding: 0px 14px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #526D82;
    background: #FFF;   
    font-family: 'Nunito';
    display: inline;
}

#back {
    position: relative;
    top: 43px;
}

#cancel {
    margin-left: 505px;
    position: relative;
    top: 45px;
}

#submit {
    margin-left: 790px;
    background: #526D82;
    color: #FFF;
    position: relative;
    top: 5px;
}

.footer {
    width: 90%;
    text-indent: 50px;
    margin: 50px;
    border-top: black solid;
}
