<div class="container">
    <div class="form-container">
        <div class="title">
            <h1>Schedule Course Editing</h1>
            <div class="topper">
                <div class="marker">
                    <div class="first">
                        <p>1</p>
                    </div>
                    <p class="tag">Course Edit</p>
                </div>
                <div class="hr">
                </div>
                <div class="marker">
                    <div class="second">
                        <p>2</p>
                    </div>
                    <p class="tag">Instructor & Lab</p>   
                </div>
            </div>
        </div>
        <div class="table-title">
            <h1>Assign Instructor & Lab Schedule</h1>
            <button id="add" (click)="addItem()" style="position: relative; left: 30px;">
                <img src="/assets/Close.svg" alt="plus">
                <p>Add</p>
            </button>
        </div>
        <form>
            <div class="table">
                <div class="header">
                    <p *ngFor="let h of headeritems;">{{h}}</p>
                </div>
                <div class="item" *ngFor="let item of items;index as i">
                    <p style="display: none;">{{i+1}}</p>
                    <div class="start-date">
                        <input type="datetime-local" name="start-date" id="start-date">
                    </div>
                    <div class="end-date">
                        <input type="datetime-local" name="end-date" id="end-date">
                    </div>
                    <div class="instructor">
                        <app-dd [items]="['Timothy']"></app-dd>
                    </div>
                    <div class="Lab" style="position: relative; left: 50px;">
                        <app-dd [items]="[]"></app-dd>
                    </div>
                    <div class="delete" (click)="deleteItem(i)" style="position: relative; left: 65px; top: -8px;">
                        <img src="/assets/delete.svg" alt="delete">
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="back" (click)="back()">Back</button>
                <button id="cancel" (click)="next()">Cancel</button>
                <button type="submit" id="submit" (click)="next()">Submit</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <p style="font-weight: bold;">&copy;  2023 CAAS Training Institute. All Rights Reserved</p>
        <p>Terms of Service Private Policy</p>
    </div>
</div>