<section class="team_member section-padding">
    <div class="title">
        <h5>Schedule Class Editing</h5>
        <div class="row">
            <div class="col">
                <img src="assets/No.1.svg"><br>
                <p>Course Edit</p>
            </div>
            <div class="col-1">
                <img src="assets/Line.svg">
            </div>
            <div class="col-2">
                <img src="assets/No.2.svg">
                <p>Instructor & Lab</p>
            </div>
        </div>
        <div class="row" style="margin-top: -114px;">
            <div class="col-8">
                <h5>
                    Assign Instructor & Lab Schedule
                </h5>
            </div>
            <div class="col-4">
                <button class="button" >
                  <p style="padding-top: -4px;"> Add </p>
                    <h6><span><img src="assets/Close.svg" style="position: absolute;margin-left: -76px;margin-top: -50px;"></span></h6>
                </button>
            </div>
        </div>
        <div class="row-1">
            <table>
                <tr>
                     <th style="width: 20%;padding-left: -3px;">Start Date</th>
                    <th style="width: 20%;padding-left: -7px;">End Date</th>
                    <th style="width: 20%;padding-left: 1px;">Instructor</th>
                    <th style="width: 20%;padding-left: -9px;">Lab</th>
                    <th style="width: 10%;"></th>
                </tr>
          <tr>
                    <td>
                        <form>
                            <input type="datetime-local">
                            <!-- <p style="margin-left: 20px;padding-top: 8px;width: 200px;height: 38px;border: 0.3px solid #000000;border-radius: 6px;">
                                23/ 06/ 2023 09: 00 A.M
                                <span><img src="assets/Datepicker.svg" style="width: 20px;height: 20px;margin-left: 7px;margin-top: -4px;"></span>
                            </p> -->
                        </form>
                    </td>
                    <td>
                        <form>
                            <input type="datetime-local">
                            <!-- <i class="date-icon fa fa-calendar" aria-hidden="true" style="font-size: xx-large;"></i> -->
                            <!-- <p style="margin-left: 20px;padding-top: 8px;width: 200px;height: 38px;border: 0.3px solid #000000;border-radius: 6px;">
                                23/ 06/ 2023 09: 00 A.M
                                <span><img src="assets/Datepicker.svg" style="width: 20px;height: 20px;margin-left: 7px;margin-top: -4px;"></span>
                            </p> -->
                        </form>
                    </td>
                    <td>
                        <form>
                            <div>
                                <app-dropdown [items]="Initems" style="cursor: pointer;"></app-dropdown>
                                <!-- <select class="dropdown" [(ngModel)]="selectedOption1">
                                    <option value="option1">Select</option>
                                    <option value="option2">Tan Boo</option>
                                    <option value="option3">Timothy</option>
                                  </select> -->
                              </div>
                              
                        </form>
                    </td>
                    <td>
                        <form>
                            <div>
                                <app-dropdown [items]="Litems" style="cursor: pointer;"></app-dropdown>
                                <!-- <select class="dropdown" [(ngModel)]="selectedOption2">
                                    <option value="optionA">Select</option>
                                    <option value="optionB">Database Lab</option>
                                    <option value="optionC">test lab-1</option>
                                    <option value="optionC">test lab-1</option>
                                    <option value="optionC">test lab-1</option>
                                  </select> -->
                              </div>
                              
                        </form>
                    </td>
                    <td>
                        <form>
                             <span><img src="assets/dutbin.svg" style="margin-top: -8px;margin-left: 7px;margin-right: 20px;"></span>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input type="datetime-local">
                            <!-- <p style="margin-left: 20px;padding-top: 8px;width: 200px;height: 38px;border: 0.3px solid #000000;border-radius: 6px;">
                                23/ 06/ 2023 09: 00 A.M
                                <span><img src="assets/Datepicker.svg" style="width: 20px;height: 20px;margin-left: 7px;margin-top: -4px;"></span>
                            </p> -->
                        </form>
                    </td>
                    <td>
                        <form>
                            <input type="datetime-local">
                            <!-- <p style="margin-left: 20px;padding-top: 8px;width: 200px;height: 38px;border: 0.3px solid #000000;border-radius: 6px;">
                                23/ 06/ 2023 09: 00 A.M
                                <span><img src="assets/Datepicker.svg" style="width: 20px;height: 20px;margin-left: 7px;margin-top: -4px;"></span>
                            </p> -->
                        </form>
                    </td>
                    <td>
                        <form>
                            <div>
                                <app-dropdown [items]="Initems" style="cursor: pointer;"></app-dropdown>
                                <!-- <select class="dropdown" [(ngModel)]="selectedOption1">
                                  <option value="option1">Select</option>
                                  <option value="option2">Tan Boo</option>
                                  <option value="option3">Timothy</option>
                                </select> -->
                              </div>
                              <!-- <p>{{ selectedOption1 }}</p> -->
                        </form>
                    </td>
                    <td>
                        <form>
                            <div>
                                <app-dropdown [items]="Litems" style="cursor: pointer;"></app-dropdown>
                                <!-- <select class="dropdown" [(ngModel)]="selectedOption2">
                                  <option value="optionA">Select</option>
                                  <option value="optionB">Database Lab</option>
                                  <option value="optionC">test lab-1</option>
                                  <option value="optionC">test lab-1</option>
                                  <option value="optionC">test lab-1</option>
                                </select> -->
                              </div>
                             
                        </form>
                    </td>
                    <td>
                        <form> 
                            <!-- <p style="margin-right: 50px;margin-left: 10px;padding-top: 5px;width: 255px;height: 50px;border: 1px solid #000000;border-radius: 15px;border-color: #ff000f;"> -->
                              
                             <span><img src="assets/dutbin.svg" style="margin-top: -8px;margin-left: 7px;margin-right: 20px;width: 31px;height: 31px;"></span>
                            <!-- </p> -->
                        </form>
                    </td>
                </tr> 
            </table>
        </div>  
        <form>
            <div class="row">
                <div class="col-6">
        <button class="btn">Back</button> 
                </div> 
                <div class="col-3">
        <button class="btn-1">Cancel</button> 
                </div>
                <div class="col-3"> 
        <button class="btn-2">Submit</button>  
                </div>
            </div>
        </form>
    </div>
</section>