<div class="container">
    <div class="top">
        <h1>Categories</h1>
        <div class="buttons">
            <button id="list-coursekit">List Categories</button>
            <button id="export">
                <p>Export</p>
                <img src="/assets/download-folder.svg" alt="">
            </button>
        </div>
    </div>
    <div class="form-container">
        <div class="main-category">
            <p>Main Category</p>
            <div class="answer">
                <input type="text" name="main-category">
                <button>Create Main Categories</button>
            </div>
        </div>
        <div class="sub-category">
            <p>Sub Category</p>
            <div class="answer">
                <input type="text" name="sub-category">
                <button>Add Sub Categories</button>
            </div>
        </div>
        <button id="create-sc">Create Sub Categories</button>
        <div class="nav-buttons">
            <button id="back">Back</button>
            <button id="next">Submit</button>
        </div>
    </div>
    <div class="footer">
        <p style="font-weight: bold;">&copy;  2023 CAAS Training Institute. All Rights Reserved</p>
        <p>Terms of Service Private Policy</p>
    </div>
</div>