.container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F8F8F8;
    width: 100%;
    min-width: 1440px;
    min-height: 1189px;
    display: block;
    z-index: -10;
    align-items: center;
    font-family: 'Nunito';
}

.top {
    margin-top: 150px;
    margin-left: 370px;
}

.top h1, .top div {
    display: inline;
}

.top h1 {
    position: relative;
    top: 10px;
    left: 80px;
}

button {
    font-family: 'Nunito';
}

.top .buttons {
    margin-left: 330px;
}

.top .buttons #list-coursekit {
    display: inline;
    width: 174px;
    height: 41px;
    padding: 8px 21px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    flex-shrink: 0; 
    border-radius: 9px;
    border: 1px solid #D64E49;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    font-size: 16px;  
}

.top .buttons #export {
    margin-left: 30px;
    display: inline-flex;
    width: 157.689px;
    height: 41px;
    padding: 8px 21px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFAE3B;
    color: #FFF;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-container {
    width: 765px;
    height: 467px;
    flex-shrink: 0;
    border-radius: 38px;
    border: 1px solid #7E7E7E;
    background: #FFF;
    margin-top:  20px;
    margin-left: 380px;
    padding-left: 100px;
    padding-top: 50px;
}

.form-container p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-container input {
    width: 397px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 0.3px solid #7A7A7A;
    background: #FFF;
    padding-left: 20px;
}

.main-category button, .sub-category button {
    margin-left: 20px;
    display: inline-flex;
    width: 226px;
    height: 42px;
    padding: 0px 11px 0px 14px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    background: #526D82;
    color: #FFF;
}

#create-sc {
    margin-top: 20px;
    width: 226px;
    height: 42px;
    padding: 0px 11px 0px 14px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    background: #526D82;
    color: #FFF;
}

.nav-buttons {
    margin-top: 80px;
}

#back, #next{
    display: inline-flex;
    width: 114px;
    height: 37px;
    padding: 0px 14px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #526D82;
    background: #FFF;
}

#next {
    margin-left: 430px;
    background: #526D82;
    color: #FFF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    text-indent: 50px;
    margin: 50px;
    border-top: black solid;
}

