.container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F8F8F8;
    width: 100%;
    min-width: 1440px;
    min-height: 1189px;
    display: block;
    z-index: -10;
    align-items: center;
    font-family: 'Nunito';
}

.top {
    margin-top: 150px;
    margin-left: 350px;
}

.top div {
    display: inline-block;
}

.table {
    margin-left: 330px;
    width: 1101px;
    height: 548px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.table .header {
    padding: 25px 0px;
    width: 1097px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 28px 28px 0px 0px;
    background: #EBEBEB;
    text-align: center;
}

.table .header p {
    display: inline;
    margin-left: 190px;
    width: fit-content;
    flex-direction: column;
    flex-shrink: 0;
    color: #333232;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    position: relative;
    left: -120px;     
}

.item {
    width: 1050.039px;
    height: 90.328px;
    flex-shrink: 0;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    border-bottom: rgba(200, 200, 200, 1) solid 1px;
}

.start-date {
    margin-left: 20px;
}

.end-date {
    position: relative;
    left: -10px;
}

.action {
    position: relative;
    left: -150px;
}

.item div {
    display: inline-block;
}

.item p {
    color: #252F40;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;    
}


/* .sidebar{
    width: 294px;
height: 822px;
left: -8px;

}
.team_member {
    padding-top: 120px;
    padding-left: 300px;
    margin-right: -60px;
    padding-bottom: 20px;
    width: 1101px;
height: 548px;
margin-top: 216px;
margin-left: 301px;
font-family: 'Nunito';
border-radius: 28px 28px 0px 0px; 
}

button {
    font-family: 'Nunito';
}

.col-3 {
    padding-top: 20px;
}

.col-6 h4 {
    padding-left: 15px;
    padding-top: 10px;
}

.col-2 .button {
    background: #FFAE3B;
    border: #FFAE3B;
    border-radius: 5px;
    color: white;
    margin-left: 245px;
    width: 135px;
    height: 42px;
    margin-top: 0px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.col-2 .button img {
    margin-top: -8px;
    margin-left: 5px;
}

.col-2 img {
    margin-left: 20px;
}

.col-2 .btn {
    
    border-color: #D64E49;
    margin-left: 225px;
    width: 145px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.row-1 {
    margin-left: 10px;
    margin-top: 30px;
}

.row-1 table {
    width: 1101px;
    height: 548px;
    box-shadow: 0 3px 10px;
    border-radius: 28px 28px 0px 0px;
    font: OpenSans;
    font-weight: 500;
    font-size: 18px;
}

.row-1 table tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

.row-1 tr:first-child th:last-child {
    border-top-right-radius: 20px;
}

.row-1 tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

.row-1 table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.row-1 th {
    background-color: #d3d3d3;
    height: 5vw;
    font: OpenSans;
    font-weight: 500;
    font-size: 18px;
}

.row-1 tr {
    border-bottom: 1px solid #d3d3d3;
}

.row-1 td {
    height: 7vw;
    font: OpenSans;
    font-weight: 600;
    font-size: 16px;
}

tr:hover {
    background-color: #f4f2f2e2;
}  */