.container {
    width: 90%;
    margin-left: 20px;
    margin-top: -6px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 0.3px solid #000000;
}

input {
    display: none;
}

img {
    float: right;
    margin: 10px;
}

.container p {
    display: inline-block;
    color: #000000;
    margin-top: 13px;
    margin-left: 10px;
    font-size: 16px;
}

.dd {
    width: 192px;
    margin-left: 20px;
    height: fit-content;
    border-radius: 0px 0px 16px 16px;
    border: 0.5px solid #526D82;
    background: #FFF;
    position: absolute;
    z-index: 20;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 500;
    

}

.dd p {
    color: #252F40;
    font-size: 14px;
    font-family: 'Nunito';
    padding: 10px 10px;
}