<section class="team_member section-padding">
    <div class="title">
        <h5>Course Editing</h5>
        <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/No.1.svg"><br>
                <p>Course Edit</p>
            </div>
            <div class="col-1">
                <img src="assets/Line.svg">
            </div>
            <div class="col-2">
                <img src="assets/No.2.svg">
                <p>Instructor & Lab</p>
            </div>
        </div>
        </div>
        <form>
            <div class="row" style="margin-left: 20px;">
                <div class="col-6">
                    <label for="coursename">Course Name</label>
                    <form>

                        <app-dropdown [items]="[]"></app-dropdown>
                          <!-- <option value="optionA">Choose ...</option>
                          <option value="optionB">Aviation Security Programmee
                            in Public Policy</option>
                          <option value="optionC">Air Traffic Safety Electronics
                            Personnel Basic</option>
                          <option value="optionD">ICAO PANS-OPS Instrument</option>
                          <option value="optionD">Senior Airport Fire Officers</option>
                          <option value="optionE">Aeronautical Search and 
                            Rescue Operations</option>
                          
                        </select> -->
                         </form>
                         
                </div>
                <div class="col-6">
                    <label>Class Type</label>
                    <div class="row">
                        <div class="col-3" style="margin-left: 70px;margin-top: 10px;">
                            <h6><img src="assets/Group 82.svg">Public</h6>
                        </div>
                        <div class="col-3" style="margin-left: -5px;margin-top: 10px;">
                            <h6><img src="assets/Checkbox.svg">Private</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Class Delivery</label>
                        <form>
                             <app-dropdown [items]="[]"></app-dropdown>
                                  <!-- <option value="option1">Online</option>
                                  <option value="option2">Offline</option>
                                  <option value="option3">Hybrid</option>
                                </select> -->
                              
                              
                            </form>
                    </div>
                    <div class="col-6">
                        <label style="padding-left: 100px;">Instructor Cost</label>
                        <h5> 120$</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Minimum Enrollment</label>
                        <p style="padding-left: 30px;padding-top: 10px;"> 05</p>
                    </div>
                    <div class="col-6">
                        <label style="padding-left: 100px;">Maximum Enrollment</label>
                        <h5>10</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Status</label>
                        <div class="row">
                            <div class="col-4">
                                <form>
                                    <app-dropdown [items]="[]"></app-dropdown>
<!--                                         
                                         <option  value="option1">Active</option>
                                         <option value="option2">Inactive</option>
                                         
                                       </select> -->
                                   </form>
                            </div>
                            <div class="col-4">
                                <h6>Is Guaranteed To Run</h6>
                                    <span><img src="assets/Group 82.svg" style="margin-left: 357px;margin-top: -52px;"></span>
                            </div>
                            <div class="col-4">
                                <h3>External Room</h3>
                                <span><img src="assets/Group 82.svg" style="margin-left: 418px;margin-top: -55px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button">Back</button>
                <button class="btn">Next</button>
            </div>
        </form>
        
    </div>
</section>